body {
    padding: 0 8em; 
    background-image: url('https://i.pinimg.com/236x/0c/28/8e/0c288e04b7824890b740bcf259f1203b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    scroll-behavior: smooth;
}
/* header {
    display: inline-block;
    margin: 3em 0 0 22em;
    position: fixed;
    bottom: 0vh;
    background-color: #5f9ea075;
} */