@media screen and (min-width : 1200px) and (max-width : 1400px) {
    header {
        margin: 3em 0 0 4em;
    }
    
    /* h3#intro {
        margin: 0em 0 -1em;
    } */
    
    h1#head {
        font-size: 4.6em;
    }
    .first {
        margin: 8em 0 0 -2em;
    }

    div#aboutMeFirst, div#thoughtsFirst, div#experiencesFirst, div#insightsFirst {
        margin-top: 5em;
    }

    .second h1 {
        font-size: 2.5em;
    }
    div#aboutMe, div#thoughts, div#experiences, div#insights {
        height: 100vh;
        padding: 21vh 0 0 0;
    }

    header {
        margin: 3em 0 0 -8.5em;
    } 
    div#contact {
        padding: 3em 7em;
    }

    #grid input {
        width: 26.5em;
    }

    button {
        margin: 3em 24em 0;
    }
} 
@media screen and (min-width : 1114px) and (max-width : 1199px) {
    h1#head {
        font-size: 3.88em;
    }

    .second h1 {
        font-size: 2em;
    }

    div#aboutMeFirst, div#thoughtsFirst, div#experiencesFirst, div#insightsFirst {
        margin-top: 8em;
    }
    div#experiencesSecond {
        width: 36vw;
    }

    div#aboutMe, div#thoughts, div#experiences, div#insights {
        padding-top: 15vh;
    }

    #experiences .second h1 {
        font-size: 1.7em;
    }

    .first p {
        height: 35vh;
    }

    .first p img {
        height: 38vh;
        top: -2em;
    }
    div#insights {
        padding-bottom: 8em;
    }

    div#contact {
        padding: 3em 3em;
        top: -4em;
    }
}
@media screen and (min-width : 884px) and (max-width : 1113px) {
    body{
        overflow-x: hidden;
    }

    h1#head , h3#intro{
        font-size: 3.4em;
        line-height: 2em;
    }

    div#aboutMe, div#thoughts, div#experiences, div#insights {
        display: block;
        height: 60vh;
    }

    .first p {
        height: 15vh;
        width: 25vw;
        position: relative;
        left: 18em;
    }